h1 {
  color: tomato;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.navbar {
  background: grey;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.hud {
  background: blue;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.hud-ship-list,
.hud-controls,
.hud-turn-info {
  border: 1px solid black;
  display: block;
  /*height: 150px;*/
  line-height: 40px;
  /*margin: 5px;*/
  padding: 0 9px 20px 9px;
}

.hud-ship-list {
  flex: 2;
  min-width: 25%;
}

.hud-controls {
  flex: 8;
  max-width: 40%;
}

.hud-turn-info {
  flex: 8;
  max-width: 25%;
}